<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form Tutorial</title>
        <link rel="stylesheet" href="css/edituser.css"/>

	</head>
	
	<body > 
		<div class="login-form">
			<h1>User Edit</h1>
			<form action="/editpost/<%= user.id %>" method="POST">
				<input type="text" name="username" placeholder="Username"  value="<%= user.username %>"   required>
				<input type="password" name="password" placeholder="Password" value="<%= user.password %>" required>
                <input type="email" name="email" placeholder="Email"  value="<%= user.email %>" required>
				<input type="submit" class="button" value="Update">  
			</form>
			
		</div>
	</body>
</html>