<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form Tutorial</title>
		<link rel="stylesheet" href="css/register.css"/>

	</head>
	<body background="https://wallpaperaccess.com/full/2885791.jpg">>
		<h2></h2>
	</body>
	<body>
		<div class="login-form">
			<h1>Register From</h1>
			<form action="register" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
                <input type="email" name="email" placeholder="Email" required>
				<input type="submit" value="Sign Up">
			</form>
		</div>
	</body>
</html>